.mainCategory-edit{
    position: relative;
    top:-35px;
    left:50px;
}
.mainCategory-delete {
    position: relative;
    top:-70px;
    left:50%;
    transform: translateX(-50%);
    font-size: 24px;
    color:rgb(110, 12, 12);
    cursor: pointer;
    transition: .3s;
}
.mainCategory-delete:hover{
    color: rgb(163, 16, 16);
}
.mainCategoryName-small{
    font-size: 12px;
}

.mainCategories{
    width:100%;
    position: relative;
    top:150px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mainCategory-container span {
    padding: 10px;
    margin-top: 50px;
    width: 120px;
    height: 120px;
    display: block;
    transform: translateY(-50%);
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;    
    cursor: pointer;
    transition: .3s;
}

.value {
    text-transform: none;
    color:green;
}

span.green {
    border:5px solid green;
}
span.green:hover {
    background-color: rgba(0,128,0,0.8);
    border:2px solid green;
}

span.red {
    border:5px solid red;
}
span.red:hover {
    background-color: rgba(255,0,0,0.8);
    border:2px solid red;
}
span.blue {
    border:5px solid blue;
}
span.blue:hover {
    background-color: rgba(0,0,255,0.8);
    border:2px solid blue;
}

span.violet {
    border:5px solid violet;
}
span.violet:hover {
    background-color: rgba(238,130,238,0.8);
    border:2px solid violet;
}

span.lightgreen {
    border:5px solid lightgreen;
}
span.lightgreen:hover {
    background-color: rgba(144,238,144,0.8);
    border:2px solid lightgreen;
}
span.yellow {
    border:5px solid yellow;
}
span.yellow:hover {
    background-color: rgba(255,255,0,0.8);
    border:2px solid yellow;
}
