.add-category-modal{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width: 100%;
    background-color:rgb(240, 240, 240);
    z-index: 22;
}
.category-name{
    margin-top: 150px;
    width: 100%;
    text-align: center;
}
.category-name-input{
    width:50%;
    border:2px solid black;
}
.add-category-modal button {
    width:50%;
}
.category-name span {
    margin-top: 2px;
    display: block;
    color:rgb(212, 19, 19);
}

.add-category-modal button {
    position: absolute;
    bottom:50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}


@media(min-width:700px){
    .category-name-input{
        width:40%;
    }
    .add-category-modal button {
        width:20%;
    }
}
@media(min-width:1024px){
    .category-name-input{
        width:30%;
    }
    .add-category-modal button {
        width:10%;
    }
}