.addTransaction-modal{
    position: absolute;
    top:-150px;
    left:0;
    right:0;
    min-height: 800px;
    background-color: rgba(216, 212, 213, 0.8);
    z-index:30;
}

.addTransaction-container {
    position: absolute;
    top:80px;
    left:50%;
    transform: translateX(-50%);
 width:80%;
 min-height: 400px;
 background-color: white;
     z-index: 2;
 }
 
 .categoryList{
     margin-top: 20px;
     margin-left: 10px;
     width: 80%;
     display: flex;
     flex-wrap: wrap;
 }
 .categoryName{
     width: 100%;
     margin-top: 10px;
     margin-left: 20px;
 }

 .category label{
     font-size:18px;
     cursor: pointer;
 }
 
 .category-delete {
    position: absolute;
    right:10px;
    font-size: 16px;
    color:rgb(110, 12, 12);
    cursor: pointer;
    transition: .3s;
}

.category-delete:hover{
    color: rgb(163, 16, 16);
}
 label.green {
    color: green;
}

label.red {
    color: red;
}

label.blue {
    color: blue;
}

label.violet {
    color: violet;
}

label.lightgreen {
    color: lightgreen;
}

label.yellow {
    color: yellow;
}
 
.add-category {
     position: absolute;
     top:70px;
     left:50%;
     transform: translateX(-50%);
     width: 150px;
 }
  
 
 .note {
    margin-top:130px;
    width: 100%;
    text-align: center;
    }

.note-input{
    width: 80%;
    border:2px solid black;
}
 
.amount {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.amount-input{
    width: 40%;
    border: 2px solid black;
}
 
.date {
    margin-top:30px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    }

.date-input{
    width: 60%;
    border:2px solid black;
}

.addTransaction-btn{
 position: relative;
 left:50%;
 width: 50%;
 transform: translateX(-50%);
 margin-bottom: 10px;
}

.note span,.amount span,.date span {
    position: absolute;
    width: 60%;
    margin-top: 2px;
    left:50%;
    transform: translateX(-50%);
display: block;
color:rgb(212, 19, 19);
}

@media(min-width:700px){
    .note-input{
        width: 40%;
    }
    .amount-input{
        width: 20%;
    }
    .categoryList{
        margin-left: 200px;
    }
    .category-delete{
        right: 200px;
    }
    .date-input{
        width: 30%;
    }
    .addTransaction-btn{
        width:30%;
    }
}
@media(min-width:1024px){
    .categoryList{
        margin-left: 400px;
    }
    .category-delete{
        right: 350px;
    }
    .date-input{
        width:20%;
    }
    .addTransaction-btn{
        width:20%;
    }
}
@media(min-width:1440px){
    .categoryList{
        margin-left: 450px;
    }
    .category-delete{
        right: 450px;
    }
}
@media(min-width:1600px){
    .categoryList{
        margin-left: 500px;
    }
    .category-delete{
        right: 450px;
    }
}


 